{% extends "pages/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'base/css/grid.css' %}" type="text/css">
    <title>{% block title %}Nhập chỉ số điện{% endblock %}</title>
</head>

<body>
    {% block main-content %}
    <div id="model-electricity">
        <div class="row">
            <div class="col month-year">
                <ul class="list-container">
                    <li><label for="">Tháng/Năm</label></li>
                    <li><input type="month" name="month/year"></li>
                </ul>
            </div>
            <div class="col search">
                <label for="">Tìm phòng</label>
                <input type="text" placeholder="tìm kiếm">
            </div>
        </div>
        <div class="row">
            <div class="col list-room">
                <label for="">Danh sách phòng</label>
                <input type="text" placeholder="danh sách phòng">
            </div>
            <div class="col full-name">
                <label for="">Họ Tên</label>
                <input type="text" name="name">
            </div>
            <div class="col old-electricity">
                <ul class="list-container">
                    <li><label for="">Số điện cũ</label></li>
                    <li><input type="text"></li>
                </ul>
            </div>
            <div class="col new-electricity">
                <ul class="list-container">
                    <li><label for="">Số điện mới</label></li>
                    <li><input type="text"></li>
                </ul>
            </div>
            <div class="col old-electricity">
                <ul class="list-container">
                    <li><label for="">Số điện sử dụng</label></li>
                    <li><input type="text" disabled></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock main-content %}
</body>

</html>