<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/register.css' %}">
    <title>Đăng nhập</title>
</head>

<body>
    <div id="model">
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <div class="form-title">
                <label for="title">Đăng nhập tài khoản</label>
                <button class="closeTab"><a href="{% url 'back_home' %}">X</a></button>
            </div>
            <div class="form-group">
                <label for="username" class="form-label">Tên Đăng Nhập</label>
                {{form.username}}
                {{form.username.errors}}
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Mật Khẩu</label>
                {{form.password}}
                {{form.password.errors}}
            </div>
            <div class="form-submit">
                <input type="hidden" name="next" value="/">
                <input type="submit" value="Đăng nhập">
            </div>

            <div class="have_not_account">
                <h4>Bạn chưa có tài khoản ?<a class="list-item-link" href="{% url 'register' %}">Đăng ký</a></h4>
            </div>
        </form>
    </div>
</body>

</html>