{% extends "pages/base.html" %}


{% block title %}Danh sách các file hình ảnh{% endblock %}
{% block main-content %}
<div class="model_house">
    <div class="navbar_room">
        <div class="title-house">Danh sách các file hình ảnh</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'home' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <div class="list-file">
        <input type="file" name="" id="">
    </div>
</div>

{% endblock main-content %}