{% extends "pages/base.html" %}

{% block title %}Thêm phòng{% endblock %}

{% block main-content %}
<div id="form_addroom">
    <div class="form_navbar navbar_room">
        <h4 class="title-room">Thêm phòng</h4>
        <div class="form-submit">
            <a class="add_room back" href="{% url 'list_room' %}"><button class="btn btn-normal" type="button">Trở
                    về</button></a>
        </div>
    </div>
    <div class="form-newroom">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="row form-addroom">
                <div class="col form-house">
                    <label class="form-title-room" for="house">Nhà</label>
                    <!-- <select name="house" id="nameHouse" size="1">
                        <option value="">------</option>
                        {% for houses in inf_house %}
                        <option value="{{houses.nameHouse}}">{{houses.nameHouse}}</option>
                        {% endfor %}
                    </select> -->
                    <input class="inp" type="text" name="house">
                </div>
            </div>
            <div class="row form-addroom">
                <div class="col form-room">
                    <label class="form-title-room" for="roomsNumber">Phòng số</label>
                    <input class="inp" type="text" name="roomsNumber">
                    {% if new_room.roomsNumber %}
                    <span>{{new_room.roomsNumber.errors}}</span>
                    {% endif %}
                </div>
                <div class="col form-acreage">
                    <label class="form-title-room" for="acreage">Diện tích phòng</label>
                    <input class="inp" type="text" name="acreage">
                    {% if new_room.acreage %}
                    <span>{{new_room.acreage.errors}}</span>
                    {% endif %}
                    <div class="comment-acreage">m²</div>
                </div>
            </div>
            <div class="row form-addroom">
                <div class="col form-price">
                    <label class="form-title-room" for="price">Giá phòng</label>
                    <input class="inp" type="text" name="price">
                    {% if new_room.price %}
                    <span>{{new_room.price.errors}}</span>
                    {% endif %}
                </div>
                <div class="col form-quantity">
                    <label class="form-title-room" for="quantity">Số người tối đa</label>
                    <input class="inp" type="text" name="quantity">
                    {% if new_room.quantity %}
                    <span>{{new_room.quantity.errors}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row form-addroom">
                <div class="col form-interior">
                    <label class="form-title-room" for="interior">Nội thất của phòng</label>
                    <textarea class="inp" name="interior" cols="30" rows="10"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Lưu</button>
        </form>
    </div>
</div>

{% endblock main-content %}