{% extends "pages/base.html" %}

{% block title %}Thêm nhà{% endblock %}

{% block main-content %}
<div id="form_addhouse">
    <div class="form-navbar navbar_room">
        <h4 class="title-house">Thêm nhà</h4>
        <div class="form-submit">
            <a class="add_house back" href="{% url 'list_house' %}"><button class="btn btn-normal" type="button">Trở
                    về</button></a>
        </div>
    </div>

    <form action="." method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col form-nameHouse">
                <label for="nameHouse">Tên nhà</label>
                <input class="inp" type="text" name="nameHouse">
                {% if new_house.nameHouse %}
                <span>{{new_house.nameHouse.errors}}</span>
                {% endif %}
            </div>
            <div class="col form-personnel">
                <label for="personnel">Mã nhân viên</label>
                <input class="inp" type="text" name="personnel">
            </div>
            <div class="col form-address">
                <label for="address">Địa chỉ nhà</label>
                <input class="inp inp-address" type="text" name="address">
                {% if new_house.address %}
                <span>{{new_house.address.errors}}</span>
                {% endif %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Lưu</button>
    </form>
</div>
{% endblock main-content %}