{% extends "pages/base.html" %}

{% block title %}Tính tiền{% endblock %}


{% block main-content %}
<div id="model-electricity">
    <div class="form_navbar navbar_room">
        <h4 class="title-room">Tính tiền</h4>
        <div class="form-submit">
            <a class="add_room" href="{% url 'home' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col month-year">
            <ul class="list-container">
                <li><label for="">Tháng/Năm</label></li>
                <li><input class="inp" type="month" name="month/year"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col room-list">
            <ul class="list-container">
                <li><label for="">Danh sách nhà</label></li>
                <li><select size="1">
                        <option value="">------</option>
                        {% for house in inf_house %}
                        <option value="{{house.nameHouse}}">{{house.nameHouse}}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
        <div class="col room-list">
            <ul class="list-container">
                <li><label for="">Danh sách phòng<label></li>
                <li><select name="" id="" size="1">
                        <option value="">Phòng số</option>
                    </select>
                </li>
            </ul>
        </div>

        <div class="col old-electricity">
            <ul class="list-container">
                <li><label for="">Số điện cũ</label></li>
                <li><input class="inp" type="text" name="old_electricity"></li>
            </ul>
        </div>
        <div class="col new-electricity">
            <ul class="list-container">
                <li><label for="">Số điện mới</label></li>
                <li><input class="inp" type="text" name="new_electricity"></li>
            </ul>
        </div>
        <div class="col old-electricity">
            <ul class="list-container">
                <li><label for="">Số điện sử dụng</label></li>
                <li><input class="inp" type="text" name="use_electricity" disabled></li>
            </ul>
        </div>
        <div class="col old-electricity">
            <ul class="list-container">
                <li><label for="">Số tiền</label></li>
                <li><input class="inp" type="text" name="use_electricity" disabled></li>
            </ul>
        </div>
    </div>
</div>
{% endblock main-content %}