{% extends "pages/base.html" %}

{% block title %}Sửa nhà{% endblock %}

{% block main-content %}
<div id="form_addroom">
    <div class="form_navbar navbar_room">
        <h4 class="title-room">Sửa chỉ số điện</h4>
        <div class="form-submit">
            <a class="add_room back" href="{% url 'list_electricity' %}"><button class="btn btn-normal"
                    type="button">Trở
                    về</button></a>
        </div>
    </div>
    <div class="list-room-container">
        <div class="form-newroom">
            <form action="." method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{inf_electricity.id}}">
                <div class="row form-item">
                    <div class="col room-select">
                        <ul class="list-container">
                            <li><label for="">Phòng</label></li>
                            <li><select name="room" disabled>
                                    {% for room in Room %}
                                    {% if room.id == inf_electricity.room.id %}
                                    <option value="{{room.id}}" selected>{{room.roomsNumber}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select></li>
                        </ul>
                    </div>
                    <div class="col old-electricity">
                        <ul class="list-container">
                            <li><label for="">Chỉ số điện</label></li>
                            <li><input class="inp" type="text" name="index_electricity"
                                    value="{{inf_electricity.index_electricity}}"></li>
                        </ul>
                    </div>
                    <div class="col month-year">
                        <ul class="list-container">
                            <li><label for="">Thời gian</label></li>
                            <li><input class="inp" type="date" name="date"
                                    value="{{inf_electricity.date|date:'Y-m-d'}}"></li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" type="submit">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}