{% extends "pages/base.html" %}

{% block title %}Sửa nhà{% endblock %}

{% block main-content %}
<div id="form_addroom">
    <div class="form_navbar navbar_room">
        <h4 class="title-room">Sửa nhà</h4>
        <div class="form-submit">
            <a class="add_room back" href="{% url 'list_house' %}"><button class="btn btn-normal" type="button">Trở
                    về</button></a>
        </div>
    </div>
    <form action="." method="POST">
        {% csrf_token %}
        <input type="hidden" name="nameDistrict" value="{{inf_area.nameDistrict}}">
        <div class="row">
            <div class="col form-house">
                <label for="nameDistrict">Tên nhà</label>
                <input class="inp" type="text" name="nameDistrict" value="{{inf_area.nameDistrict}}">
                {% if update_area.nameDistrict %}
                <span>{{update_area.nameDistrict.errors}}</span>
                {% else %}
                <input class="inp" type="text" name="nameDistrict" value="{{update_area.nameDistrict}}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Lưu</button>
            <a href="{% url 'delete_area' inf_area.id %}"><button class="btn btn-normal" type="button">Xóa
                    khu vực</button></a>
        </div>
    </form>
</div>
{% endblock main-content %}