{% extends "pages/base.html" %}

<button><a href="{% url 'guests_in_room' room.id %}" class="btn-primary">Thông tin khách hàng</a></button>

{% block main-content %}

<div class="form_navbar navbar_room">
    <h4 class="title-room">Thông tin khách hàng - Phòng số {{ room.roomsNumber }}</h4>
    <div class="form-submit">
        <a class="add_room back" href="{% url 'list_room' %}"><button class="btn btn-normal" type="button">Trở về</button></a>
    </div>
</div>

<div id="guests-in-room">

        {% for guest in guests %}
            <h3>Tên Khách : {{ guest.fullname }}</h3>
            <h3>Số điện thoại: {{ guest.phone }}</h3><br>
            {% comment %} <h3>phòng số {{ room.room.roomsNumber }} </h3> {% endcomment %}
            
            {% empty %}
            <li>Chưa có khách hàng nào.</li>
        {% endfor %}

</div>

{% comment %} <a class="add_room back" href="{% url 'list_room' %}"><button>Trở về</button></a> {% endcomment %}

{% endblock main-content %}
