{% extends "pages/base.html" %}

{% block main-content %}

<div class="form_navbar navbar_room">
    <h4 class="title-room">Thông tin khách hàng - Phòng số {{ room.roomsNumber }}</h4>
    <div class="form-submit">
        <a class="add_room back" href="{% url 'list_room' %}"><button class="btn btn-normal" type="button">Trở về</button></a>
    </div>
</div>

{% comment %} <div id="guests-in-room">
    <div class="col">
        {% for guest in guests %}
            <div class="row">
                <h3>Tên Khách : {{ guest.fullname }}</h3>
                <h3>Số điện thoại : {{ guest.phone }}</h3>
                <form method="post" action="{% url 'guest_checkout' room_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="guest_id" value="{{ guest.id }}">
                    <button type="submit">Trả phòng</button>
                </form> 
            </div><br>
            {% empty %}
            <li>Chưa có khách hàng nào.</li>
        {% endfor %}
    </div> {% endcomment %}
    
<div class="list-room-container">
    <div class="display-body-table-container-guest">
        <table class="display-table">
            <tbody>
                <tr>
                    <th style="width: 100px;">Họ tên</th>
                    <th style="width: 100px;">Số điện thoại</th>
                    <th style="width: 50px;">Thao tác</th>
                </tr>
            </tbody>
            {% for guest in guests %}
            <tr>
                <td style="text-align: center;">{{guest.fullname}}</td>
                <td style="text-align: center;">{{guest.phone}}</td>
                <td style="display: flex; justify-content: center; align-items: center;">
                    {% comment %} <a class="list-item-link edit-room" href="{% url 'edit_guest' guest.id %}"><button class=""
                        type="button">Sửa</button></a>
                        <a class="list-item-link edit-room" href="{% url 'delete_guest' guest.id %}"><button class=""
                            type="button">Xóa</button></a> {% endcomment %}
                        <form method="post" action="{% url 'guest_checkout' room_id %}">
                            {% csrf_token %}
                            <input type="hidden" name="guest_id" value="{{ guest.id }}">
                            <button type="submit">Trả phòng</button>
                        </form> 
                </td>
            </tr>
                {% empty %}
                <li>Chưa có khách hàng nào.</li>
                {% endfor %}
        </table>
    </div>
</div>

{% endblock main-content %}
