{% extends "pages/base.html" %}

{% block main-content %}

<div class="form_navbar navbar_room">
    <h4 class="title-room">khách hàng - Phòng số {{ room.roomsNumber }}</h4>
    <div class="form-submit">
        <a class="add_room back" href="{% url 'list_room' %}"><button class="btn btn-normal" type="button">Trở về</button></a>
    </div>
</div>

<div id="guests-in-room">
    <form method="post" action="{% url 'list_room' %}">
        {% csrf_token %}
        {% for guest in guests %}
        <div class= "row">
            <div class="col">
                <h3>Tên Khách : {{ guest.fullname }}</h3>
            </div>
            <input type="hidden" name="guest_id" value="{{ guest.id }}">
            <input type="hidden" name="room_id" value="{{ room.id }}">
            <div class="col" style="">
                <button type="submit" >Trả phòng</button>
            </div>
        </div>
        <br>
        {% endfor %}
    </form>
</div>
    {% comment %} class="btn btn-primary" name="guest_id" value="{{ guest.id }}{% endcomment %}

{% endblock main-content %}
