{% extends "pages/base.html" %}

{% block title %}Thông tin phòng số {{room.roomsNumber}}{% endblock %}
{% block main-content %}
<h3><a href="{% url 'information_room' information.id %}" class="list-item-link">Phòng {{information.roomsNumber}}</a>
</h3>
<h4>Diện tích phòng là: {{information.acreage}}</h4>
<h4>Số lượng thành viên ở được phòng này là: {{information.quantity}}</h4>
<h4>Giá phòng là: {{information.price}} (vnđ)</h4>
{{information.interior|safe|linebreaks}}

{% endblock main-content %}