
{% extends "pages/base.html" %}

{% block title %}thống kê theo khách{% endblock %}

{% block main-content %}
<div id="model-room">
    <div class="navbar_room">
        <div class="title-house">Danh sách thống kê</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'list_statistical' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <div>
        <h2>Danh sách thống kê khách</h2>
        <h2>Thống kê khách thuê phòng theo tháng ... là: </h2>
    </div>
</div>
{% endblock main-content %}
