{% extends "pages/base.html" %}

{% block title %}Thông tin phòng số {{room.roomsNumber}}{% endblock %}
{% block main-content %}
<div class="model-information">
    <div class="navbar_room">
        <div class="title-house">Thông tin của phòng số {{inf_room.roomsNumber}}</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'add_room' %}"><button class="btn btn-normal">Thêm phòng</button></a>
            <a class="add_room back" href="{% url 'list_room' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <h2>Tên nhà {{inf_room.house}}</h2>
    <h2>Chủ nhà {{inf_room.house.personnel}}</h2>
    <h3>Phòng {{inf_room.roomsNumber}} </h3>
    <h4>Diện tích phòng là: {{inf_room.acreage}} (m²)</h4>
    <h4>Số lượng thành viên ở được phòng này là: {{inf_room.quantity}} (người)</h4>
    <h4>Giá phòng là: {{inf_room.price}} (vnđ)</h4>
    <h4>Nội thất phòng: {{inf_room.interior|safe|linebreaks}}</h4>
</div>

{% endblock main-content %}