{% extends "pages/base.html" %}

{% block title %}Thông tin của nhà {{house.nameHouse}}{% endblock %}
{% block main-content %}
<div class="model-information">
    <div class="navbar_room">
        <div class="title-house">Thông tin của nhà {{inf_house.nameHouse}}</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'list_house' %}"><button class="btn btn-normal" type="button">Trở về</button></a>
        </div>
    </div>
    <h2>Mã nhân viên: {{inf_house.personnel}}</h2>
    <h2>Tên nhân viên: {{inf_house.personnel.fullname}}</h2>
    <h2>Khu vực: {{inf_house.area}}</h2>
    <h2>Tên nhà: {{inf_house.nameHouse}}</h2>
    <h3>Địa chỉ nhà: {{inf_house.address}}</h3>
</div>


{% endblock main-content %}