{% extends "pages/base.html" %}

{% block title %}Danh sách nhà{% endblock %}


{% block main-content %}

<div>
    <div class="navbar_room">
        <div class="title-house">Hóa đơn</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'home' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <form action="." method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="fullname">Họ và tên</label>
                <input type="text" name="fullname">
            </div>
            <div class="col">
                <label for="fullname">SĐT</label>
                <input type="phone" name="phone">
            </div>
            <div class="col">
                <button class="btn btn-normal" type="submit">Xem hóa đơn</button>
            </div>
        </div>
    </form>
</div>

{% endblock main-content %}