{% extends "pages/base.html" %}


{% block title %}Danh sách khách{% endblock %}
{% block main-content %}
<div id="model-room">
    <div class="navbar_room">
        <div class="title-house">Danh sách khách</div>
        <div class="form-search">
            <form action="{% url 'search_guest' %}" method="POST">
                {% csrf_token %}
                <label for="">Tìm kiếm</label>
                <input type="search" name="fullname" >
                <button class="btn btn-normal" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'add_guests' %}"><button class="btn btn-normal">Thêm khách</button></a>
            <a class="add_room" href="{% url 'home' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <div class="list-personnel-container">
        {% for guest in Guests %}
        <div class="list-personnel">
            <div class="list-personnel-item">
                <a class="list-item-link guest-name" href="{% url 'information_guest' guest.id %}">{{guest.fullname}}</a>
                
                <div class="interface-personnel">
                    <a class="add_house" href="{% url 'edit_guest' guest.id %}"><button class="" type="button">Sửa</button></a>
                    <a class="add_house" href="{% url 'delete_guest' guest.id %}"><button class="" type="button">Xóa</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>
</div>

{% endblock main-content %}