{% extends "pages/base.html" %}


{% block title %}Danh sách phòng{% endblock %}
{% block main-content %}
<div id="model-room">
    <div class="navbar_room">
        <div class="title-room">Danh sách phòng</div>
        <button class="btn"><a class="add_room" href="{% url 'add_room' %}">Thêm phòng</a></button>
    </div>
    <div class="list-room-container">
        {% for room in Room %}

        <div class="list-room">
            <div class="list-room-item">
                <a class="list-item-link" href="{% url 'information_room' room.id %}">Phòng số {{room.roomsNumber}}</a>
                <button><a href="#" class="list-item-link">+ Thêm khách</a></button>
                <h5 class="price-room">
                    <i class="fa-solid fa-money-bill"></i>
                    {% if not room.price %}
                    <span class="not_prive">Phòng hiện tại chưa cấp giá tiền phù hợp</span>
                    {% else %}
                    {{room.price}}VNĐ
                    {% endif %}

                </h5>
                <button><a class="edit_room list-item-link" href="{% url 'edit_room' %}">Sửa</a></button>
                <button><a class="delete_room list-item-link" href="#">Xóa</a></button>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock main-content %}