{% extends "pages/base.html" %}

{% block main-content %}
<div class="model-room">
    <div class="form_navbar navbar_room">
        <h4 class="title-room">Danh sách phòng có khách đang thuê</h4>
        <div class="form-submit">
            <a class="add_room back" href="{% url 'home' %}"><button class="btn btn-normal" type="button">Trở
                    về</button></a>
        </div>
    </div>
    <div class="list-room-container">
        {% for guest in guest_of_room %}
        <div class="list-room">
            <div class="list-room-item">
                <a class="list-item-link information-room" href="{% url 'information_room' guest.room.id %}">Phòng số
                    {{guest.room.roomsNumber}}</a>

                <h5 class="price-room">
                    <i class="fa-solid fa-money-bill"></i>
                    {% if not guest.room.price %}
                    <span class="not_prive">Phòng hiện tại đang cập nhật giá tiền phù hợp</span>
                    {% else %}
                    {{guest.room.price}} triệu VNĐ
                    {% endif %}

                </h5>
                <div class="interface-room">
                    <a class="list-item-link" href="{% url 'edit_room' guest.room.id %}"><button type="button"
                            class="edit_room">Sửa</button></a>
                    <a class="list-item-link" href="{% url 'delete_room' guest.room.id %}"><button type="button"
                            class="delete_room">Xóa</button></a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock main-content %}