{% extends "pages/base.html" %}

{% block title %}Danh sách nhà{% endblock %}


{% block main-content %}
<div class="model_area">
    <div class="navbar_room">
        <div class="title-house">Danh sách khu vực</div>
        <div class="navbar-item">
            <a class="add_house" href="{% url 'add_area' %}"><button class="btn btn-normal">Thêm khu vực</button></a>
            <a class="add_room" href="{% url 'home' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    <div class="list-house-container">
        {% for area in Area %}
        <div class="list-house">
            <div class="list-house-item">
                <h3>{{area.nameDistrict}}</h3>
                
                <div class="interface-house">
                    <a class="add_house" href="{% url 'edit_area' area.id %}"><button class="" type="button">Sửa</button></a>
                    <a class="add_house" href="{% url 'delete_area' area.id %}"><button class="" type="button">Xóa</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>

</div>
{% endblock main-content %}