{% extends "pages/base.html" %}


{% block title %}Danh sách phòng{% endblock %}
{% block main-content %}
<div id="model-room">
    <div class="navbar_room">
        <div class="title-house">Danh sách phòng đã tìm kiếm</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'list_room' %}"><button class="btn btn-normal" type="button">Trở về</button></a>
        </div>
    </div>
    {% if search_roomsNumber %}
    <div class="list-room-container">
        {% for room in search_roomsNumber %}

        <div class="list-room">
            <div class="list-room-item">
                <a title="Thông tin phòng" class="list-item-link information-room" href="{% url 'information_room' room.id %}">
                    <i class="fa-solid fa-eye"></i>
                    Phòng số
                    {{room.roomsNumber}}
                </a>
                <button class="add_guests"><a href="guests/" class="list-item-link">+ Thêm khách</a></button>

                <h5 class="price-room">
                    <i class="fa-solid fa-money-bill"></i>
                    {% if not room.price %}
                    <span class="not_prive">Phòng hiện tại đang cập nhật giá tiền phù hợp</span>
                    {% else %}
                    {{room.price}} triệu VNĐ
                    {% endif %}

                </h5>
                <div class="interface-room">
                    <a class="list-item-link" href="{% url 'edit_room' room.id %}"><button type="button"
                            class="edit_room">Sửa</button></a>
                    <a class="list-item-link" href="{% url 'delete_room' room.id %}"><button type="button"
                            class="delete_room">Xóa</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 style="text-align: center;">Không tìm thấy phòng bạn nhập</h2>
    {% endif %}
</div>

{% endblock main-content %}