{% extends "pages/base.html" %}

{% block title %}Danh sách nhà{% endblock %}


{% block main-content %}
<div class="model_house">
    <div class="navbar_room">
        <div class="title-house">Danh sách nhà</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'list_house' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    {% if search_nameHouse %}
    <div class="list-house-container">
        {% for house in search_nameHouse %}
        <div class="list-house">
            <div class="list-house-item">
                <div class="link-house">
                    <a title="Danh sách phòng của nhà" class="list-item-link" href="{% url 'get_rooms' house.id %}">Nhà {{house.nameHouse}}</a>
                    <a title="Thông tin nhà" class="list-item-link icon-link" href="{% url 'information_house' house.id %}"><i class="fa-solid fa-eye"></i></a>
                </div>
                
                <div class="interface-house">
                    <a class="add_house" href="{% url 'edit_house' house.id %}"><button class="" type="button">Sửa nhà</button></a>
                    <a class="add_house" href="{% url 'delete_house' house.id %}"><button class="" type="button">Xóa nhà</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2>Không tìm thấy thông tin bạn nhập</h2>
    {% endif %}
</div>
{% endblock main-content %}