{% extends "pages/base.html" %}

{% block title %}Danh sách nhà{% endblock %}


{% block main-content %}
<div class="model_house">
    <div class="navbar_room">
        <div class="title-house">Danh sách khu vực tìm kiếm</div>
        <div class="navbar-item">
            <a class="add_room" href="{% url 'list_area' %}"><button class="btn btn-normal">Trở về</button></a>
        </div>
    </div>
    {% if search_nameDistrict %}
    <div class="list-house-container">
        {% for area in search_nameDistrict %}
        <div class="list-house">
            <div class="list-house-item">
                <a class="list-item-link" href="{% url 'get_house' area.id %}">{{area.nameDistrict}}</a>
                
                <div class="interface-house">
                    <a class="add_house" href="{% url 'edit_area' area.id %}"><button class="" type="button">Sửa</button></a>
                    <a class="add_house" href="{% url 'delete_area' area.id %}"><button class="" type="button">Xóa</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2>Không tìm thấy thông tin bạn nhập</h2>
    {% endif %}
</div>
{% endblock main-content %}